.header {
  margin-bottom: 50px;
  color: aliceblue;
}

.transfer-section {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.transfer-section input {
  width: 150px;
  height: 49px;
}

.btn-transfer {
  width: 120px !important;
}

.btn-transfer:hover {
  background: #ffff;
}

.transfer-error {
  margin-top: 10px;
  margin-left: 10px;
  font-size: larger;
}

.history {
  color: aliceblue;
  margin-top: 50px;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
}

.thead {
  width: 25%;
  background: cornflowerblue;
  color: white;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2%;
}

.thead td {
  font-weight: 600;
}

caption {
  font-weight: 600;
  font-weight: bold;
  font-size: 24px;
  text-align: left;
  margin-bottom: 16px;
}
