.header {
  color: aliceblue;
}

.transfer-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.transfer-section-title {
  color: aliceblue;
}

.transfer-section input {
  width: 150px;
  height: 49px;
}

.btn-new-transfer {
  display: block;
}

.btn-transfer {
  width: 150px !important;
}

.btn-transfer:hover {
  background: #ffff;
}

.pointer {
  cursor: pointer;
}

.visisble {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.transfer-error {
  margin-top: 10px;
  margin-left: 10px;
  font-size: larger;
}

.history {
  color: aliceblue;
}

.no-auth-title {
  color: aliceblue;
}
